{% extends 'base.html' %}

{% block statics %}



<script type="text/javascript">

$(document).ready(function(){
    var addButton = $('.add_button'); //Add button selector
    var wrapper = $('.field_wrapper'); //Input field wrapper
    var x = 1;

    $(addButton).click(function(){

        fieldHTML = '<div><input type="text" name="field_name['+x+']" value=""/><a href="javascript:void(0);" class="remove_button"><img src="remove-icon.png"/></a></div>'; //New input field html
        x++;
        $(wrapper).append(fieldHTML);

    });


    $(wrapper).on('click', '.remove_button', function(e){
        e.preventDefault();
        $(this).parent('div').remove(); //Remove field html
        x--; //Decrement field counter
    });



    $('input[type="submit"]').prop("disabled", true);
    var a = 0;
    $('#id_videofile').bind('change', function () {
        if ($('input:submit').attr('disabled', false)) {
            $('input:submit').attr('disabled', true);
        }
        var ext = $('#id_videofile').val().split('.').pop().toLowerCase();
        if ($.inArray(ext, ['mp4']) == -1) {
            $('#error1').slideDown("slow");
            $('#error2').slideUp("slow");
            a = 0;
        } else {
            var size = (this.files[0].size);
            if (size > 100000000) {
                $('#error2').slideDown("slow");
                a = 0;
            } else {
                a = 1;
                $('#error2').slideUp("slow");
            }
            $('#error1').slideUp("slow");
            if (a == 1) {
                $('input:submit').attr('disabled', false);
            }
        }


    });

});


</script>




{% endblock %}


{% block content %}
  <div class="jumbotron">
<h1>Video Uploader</h1>

    <form action="" enctype="multipart/form-data" method="POST" name="form">
        {% csrf_token %}
        {{form.as_p}}
        <p id="error1" style="display:none; color:#FF0000;">
            Invalid Video Format! Video Format Must Be MP4.
        </p>
        <p id="error2" style="display:none; color:#FF0000;">
            Maximum File Size Limit is 100MB.
        </p>
        {{form2}}
<!--        <input type="file" name="videofile" required id="id_videofile">-->
        <div class="field_wrapper">
        <div>
            <input type="text" name="field_name[0]" value=""/>
            <a href="javascript:void(0);" class="add_button" title="Add field"><img src="add-icon.png"/></a>
        </div>
        </div>
        <input type="submit" value="Upload" class="btn btn-info "/>
    </form>
    </div>


{% endblock %}
